body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1535905748047-14b2415c77d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20;
}

.container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  background-color: black;
  opacity: 0.9;

}

.form-container {
  max-width: 95%;
  padding: 20px;
}

textarea {
  width: 100%;
  background-color: black;

}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;

}

#output-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px
}

#solution-container {
  font-weight: bold;
}

#solution-container {
  margin-left: 20px;
}

#translated-sentence {
  margin-top: 10px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
}

#text-input {
  padding: 10px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: flex-end;
  }

  #output-container {
    flex-direction: row;
    margin-top: 0;
    margin-left: 20px;
  }

  #solution-container {
    width: 75%;
    margin-top: 0;
  }
}